$primaryCl: #46a358; // Saytdagi asosiy rang
$secondaryCl: #3d3d3d;
// $mainCl: #f58a07;
$backBlue: #dceaf5; // ko'k background sectionlar uchun
$descCl: #727272; // Description color (p)
$whiteCl: #fff;
